*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-color: aqua;
}
nav a{
    
    text-decoration: none; /* underline*/
    margin-right: 10px;
    font-size: 20px;
}
nav a:hover{
    color:rgb(255, 255, 255);   
}
nav ul{
    list-style: none; /*button*/
    display: flex;  
}
header{
    padding: 20px;
    margin: 20px;
    background-color: rgb(66, 178, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    margin: 20px;
}